
/* adjust layout for home/index page, making it single column */
    .section .columns.is-centered { flex-direction: column; }
    .columns.is-centered .column { margin-inline: auto; }


/* custom css for indentation guides for bullets */
	.content.content ul { list-style: outside; position: relative; padding-left: 1.2em; }
    .content.content ul ul { margin-bottom: -0.5rem; }
	.content li { padding-bottom: 0.4rem }

	ul ul::before {
		content: "";
		position: absolute; margin-left: -0.85em; margin-top: 0;
		border-left: 1px solid gray;
		top: 0; bottom: 0.8em; left: 0;
	}


/* give background color to image, in case it has transparency */
    .note-page-section img { background-color: lightgray; }

/* adjustment to h4 line-height */
	body {
		--text-leading-wide: 1.3;
	}

/* pre and scrollbar for my digital garden */

    .content pre { padding: 0 } /* remove padding */

    /* Works on Firefox */
    pre { scrollbar-width: thin; scrollbar-color: Gray #444; }

    /* Works on Chrome, Edge, and Safari */
    pre::-webkit-scrollbar { height: 8px; }
    pre::-webkit-scrollbar-track { background: #444; }

    pre::-webkit-scrollbar-thumb {
    	background-color: #262626; border-radius: 8px; border: 1px solid #444;
    }
