
/* adjust layout for home/index page, making it single column */
    .section .columns.is-centered { flex-direction: column; }
    .columns.is-centered .column { margin-inline: auto; }


/* custom css for indentation guides for bullets */
	.content.content ul { list-style: outside; position: relative; padding-left: 1.2em; }
    .content.content ul ul { margin-block: 0.3rem 0.1rem; }
	.content li { padding-bottom: 0.3rem }

	ul ul::before {
		content: "";
		position: absolute; margin-left: -0.85em; margin-top: 0;
		border-left: 1px solid gray;
		top: 0; bottom: 0.5em; left: 0;
	}


/* give background color to image, in case it has transparency */
    .note-page-section img { background-color: lightgray; }

/* === Headings Adjustment === */

    /* adjustment to h2 */
    .content h2 { padding-bottom: 0; margin-bottom: 0.5rem; border-bottom: 1px solid; }

    /* adjustment to h4 line-height and padding */
    body { --text-leading-wide: 1.3; }
    li h3, li h4 { padding-block: 0.3em 0.2em; }
    .content h4 { color: var(--color-text-h4)}

    @media (prefers-color-scheme: dark) {
        html, html[data-theme="dark"] { --color-text-h4: cornsilk; }
        html[data-theme="light"] { --color-text-h4: #282832;  }
    }

/* pre and scrollbar for my digital garden */

    .content pre { padding: 0 } /* remove padding */

    /* Works on Firefox */
    pre { scrollbar-width: thin; scrollbar-color: Gray #444; }

    /* Works on Chrome, Edge, and Safari */
    pre::-webkit-scrollbar { height: 8px; }
    pre::-webkit-scrollbar-track { background: #444; }

    pre::-webkit-scrollbar-thumb {
    	background-color: #262626; border-radius: 8px; border: 1px solid #444;
    }

/* adjust spacing padding for .section when in mobile */
    @media screen and (max-width: 768px) {
        section.section { padding-top: 0.5rem; }
    }
    header .block #search-input { margin-bottom: 0.4rem; }
