---
layout: Default
---

<!------------------------------------------------------------------------------
 Author: Faiz Khuzaimah (aka Efemkay)
 MIT License

 This is the layout for 404 page
------------------------------------------------------------------------------->

<!--- Static Page Layout-->
{%- if page.content-type == "static" -%}
<div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
    <div class="jumbo">{{page.title}}</div>
    {%- include Content.html -%}
    {%- include Header.html -%} <!-- Header at bottom so that search after content -->
</div>
{%- endif -%}
