---
layout: Default
---

<!------------------------------------------------------------------------------
 MIT License
 Modified by Faiz Khuzaimah (aka Efemkay)
 Copied from
    - Raghuveer S
    - Hiran Venugopalan

 This is the main layout for all collections i.e. notes, pages, and posts
------------------------------------------------------------------------------->


<!-- Homepage Layout-->
{%- if page.permalink == "/" -%}
<div class="column is-8-widescreen  is-8-desktop is-8-tablet is-12-mobile">
    {%- if site.preferences.homepage.enabled -%}
        <!--- Show Homepage -->
        {%- include Homepage.html -%}
    {%- else -%}
    <!--- Show Feed Part -->
        <div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
            <h5 class="meta-title"><a href="/">← Home</a></h5>
        <div class="jumbo">{{page.title}}</div>
            {%- include FeedContent.html -%}
            {%- include Feed.html -%}
        </div>
    {%- endif -%}
</div>
{%- endif -%}


<!--- Notes Feed Layout-->
{%- if page.feedformat -%}
    <div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
        {%- include Header.html -%}
        <h5 class="meta-title"><a href="/">← Home</a></h5>
    <div class="jumbo">{{page.title}}</div>
        {%- include Content.html -%}
        {%- include Feed.html -%}
{%- endif -%}


<!--- Notes Layout-->
{%- if page.content-type == "notes" -%}
<div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
    {%- include Header.html -%}

    <div class="note-page-section">
        <!--- back navigation -->
        <div>
            {%- if site.preferences.homepage.enabled -%}
                <a onclick="window.history.back();">
            {%- else -%}
                <a onclick="window.location.assign('/');">
            {%- endif -%}
                <h5 class="meta-title">← BACK</h5>
                </a>
        </div>
        <!--- List type Note Layout-->
        {%- if page.format == "list" -%}
        <style>
            li {border-bottom: 1px solid var(--color-border-light); list-style: none; padding: 0.4rem 0 0.4rem 0;}
            .content ul { padding-left: 0px;}
            h3 {padding-top: 1rem; padding-bottom: 0rem;}
        </style>
        {%- endif -%}
        <h1>{{page.title}}</h1>
        {%- include Content.html -%}
        {%- include Backlinks.html -%}
        </div>
</div>
{%- endif -%}


<!--- Post Feed Layout-->
{%- if page.permalink == "/posts" -%}
<div class="column is-6-widescreen  is-8-desktop is-8-tablet is-12-mobile">
    <h5 class="meta-title"><a href="/">← Home</a></h5>
    <div class="jumbo">{{page.title}}</div>
        {%- include Content.html -%}
        {% for post in site.posts %}
            <div class="list-feed">
            <a href="{{ site.baseurl }}{{post.url}}" style="text-decoration: none;display: flex;justify-content: space-between;flex-direction: row;width: 100%;">
                <div class="writinglist-title">{{post.title }}</div>
            </a>
            </div>
        {%- endfor -%}
</div>
{%- endif -%}


 <!--- Post Layout-->
 {%- if page.content-type == "post"  -%}
 <div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
         <div class="note-page-section">
             <div>
                 {%- if site.preferences.homepage.enabled -%}
                 <a onclick="window.history.back();">
                 {%- else -%}
                 <a onclick="window.location.assign('/');">
                 {%- endif -%}
                         <h5 class="meta-title">← BACK</h5>
                 </a>
             </div>
         <h1>{{page.title}}</h1>
         {%- include Content.html -%}
         {%- include Backlinks.html -%}
         </div>
 </div>
 {%- endif -%}


<!--- Static Page Layout-->
{%- if page.content-type == "static" -%}
<div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
    <div class="jumbo">{{page.title}}</div>
    {%- include Content.html -%}
    {%- include Header.html -%} <!-- Header at bottom so that search after content -->
</div>
{%- endif -%}
